/* TAGS */
.tags{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.tags .tags_ppales, .tags .tags_usuario{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem .5rem
}

.tags button{
    padding: .5rem .8rem;
    background-color: var(--blue_main);
    border: none;
    border-radius: .5rem;

    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: .8rem;
    color: var(--dark_blue);
    cursor: pointer;

    transition: all 200ms ease-in-out;
}

.tags button i{
    font-size: 1rem;
    transform: translateY(20%);
}

.tags button:hover, .tags button.activo:hover, .tags button.crear:hover{
    background-color: var(--blue_grey_second);
    color: var(--dark_blue);
}

.tags button:active, .tags button.activo:active, .tags button.crear:active{
    background-color: var(--green);
    color: var(--dark_blue);
}

.tags button.activo{
    background-color: var(--dark_blue);
    color: var(--white);
}

.tags button.crear{
    background-color: var(--light_blue_second);
    color: var(--dark_blue);
}

/* LISTA LIBROS */
section .h1_herramientas{
    display: flex;
    align-items: center;
    gap: .2rem;
}

section .h1_herramientas > i:nth-child(2){
    margin-left: .4rem;
}

section .h1_herramientas i{
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

section .h1_herramientas i:hover{
    color: var(--blue_grey_second);
}

section .h1_herramientas i:active{
    color: var(--green);
}

section .filtro_abc{
    margin: .5rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 1rem;

    font-family: 'Jost', sans-serif;
    font-size: .7rem;
    font-weight: 500;
    color: var(--blue_grey_second);
}

section .filtro_abc_movil{
    display: none;
    margin: .5rem 0;
    font-family: 'Jost', sans-serif;
    font-size: .7rem;
    font-weight: 500;
    color: var(--blue_grey_second);
}

section .filtro_abc_movil select{
    border-color: var(--blue_grey_second);
    border-radius: .3rem;
    color: var(--dark_blue);
    font-family: 'Jost', sans-serif;
}

section .filtro_abc .activo{
    color: var(--dark_blue);
}

section .filtro_abc .filtro_abc_btn{
    padding: 0 .3rem;
    cursor: pointer;
}

section .filtro_abc .filtro_abc_btn:hover{
    color: var(--dark_blue);
}

section .filtro_abc .filtro_abc_btn:active{
    color: var(--green);
}