/* CARRUSEL */
.sinCarrusel{ /* carruselLibros pasa a embla__container */
    display: grid;
    gap: .5rem 0;
    overflow: hidden;
    grid-auto-flow: column;
    justify-content: start;
    justify-items: stretch;
    grid-auto-columns: 160px;
}

.carruselLibrosCategorias{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-content: center;
    gap: .5rem 0;
}


/* BOTONES CARRUSEL */
.botonesCarruselLibros{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: var(--blue_grey_second);
}

.embla .arrow:hover{
    border-radius: 100%;
    background-color: var(--light_blue_second);
}

.embla .arrow:active{
    background-color: var(--dark_blue);
    color: var(--white);
}

.embla__dots .dot{
    font-size: .5rem;
}

.botonesCarruselLibros .activo{
    color: var(--dark_blue);
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* EMBLA */
.embla{
    --slide-spacing: .5rem;
    --slide-size: 160px;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    touch-action: pan-y pinch-zoom;
    display: flex;
    gap: .5rem 0;
    justify-content: start;
    justify-items: stretch;
    margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
    min-width: 0;
    flex: 0 0 var(--slide-size);
    padding-left: var(--slide-spacing);
}

/* EMBLA - BUTTONS */
.embla button.embla__prev, .embla button.embla__next{
    border: none;
    color: var(--dark_blue);
    width: 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: unset;
}

.embla button.embla__prev:focus, .embla button.embla__next:focus {
    outline: none;
}

/* EMBLA - DOTS */
.embla__dots{
    display: flex;
    justify-content: center;
    align-items: center;
}

button.embla__dot{
    display: inline-flex;
    align-items: center;
}

.embla__dot {
    background-color: unset;
    color: var(--blue_grey_second);
    font-size: .5rem;
    outline: none;
    border: none;
}

.embla__dot:focus {
    outline: none;
    border: none;
}

.embla__dot--selected {
    color: var(--dark_blue);
    outline: none;
    border: none;
}

.embla__dot--selected:focus {
    outline: none;
    border: none;
}
